<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @notifing_stat.player_id %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @notifing_stat.kind %>
</p>

<p>
  <strong>Target:</strong>
  <%= @notifing_stat.target %>
</p>

<p>
  <strong>Previous stat:</strong>
  <%= @notifing_stat.previous_stat %>
</p>

<%= link_to '編集', edit_notifing_stat_path(@notifing_stat) %> |
<%= link_to '削除', notifing_stat_path(@notifing_stat), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to '登録一覧', notifing_stats_path %>
